pre,
code {
	font-family: var(--codeFont);
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

pre {
	overflow-y: auto;
	color: var(--white);
	background: var(--surface);
	padding: 1rem;
	font-size: 0.8rem;
	border-radius: 0.5rem;
	border: 1px solid var(--surfaceLight);
}

code {
	color: var(--highlight);
	font-size: 1rem;
	padding: .125em .25em;
	border-radius: 4px;
	background: var(--surfaceLight);
	white-space: pre;
}

pre code {
	padding: 0;
	background: transparent;
	font-size: 0.8rem;
	color: var(--white);
}
